{{ block "account" . }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a067255f3e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="text-3xl p-4 m-4">
        Account
    </div>
    <div class="flex">
        <img src="./public/image.jpg" class="rounded-full w-40 h-40 flex flex-row  bg-gray-100 ml-12" />

        <div class="mx-20 p-4 border-solid border-l-2 border-gray-400 border-side">
            {{ template "studentDetails" .}}
        </div>
        <div>
            <span hx-get="account/edit" hx-target="#studentDetails" hx-swap="outerHTML"
                class="font-bold underline decoration-solid text-blue-800 cursor-pointer min-h min-w">Edit</span> <i
                class="fas fa-edit"></i>
        </div>
    </div>
    <div class="p-4 m-4">
        <span class=" font-bold text-red-500 cursor-pointer min-h min-w">Logout</span> <i class="fa fa-sign-out"></i>
    </div>
</body>

</html>

{{ end }}


{{ block "studentDetails" .}}

<table class="table-fixed w-96 text-left" id="studentDetails">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ .User.Id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ .User.Name }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ .User.Phone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ .User.Email }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ .User.Address }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ .Status }}</td>
        </tr>
        <tr>
            <th>CGPA</th>
            <td>{{ .Cgpa }}</td>
        </tr>
        <tr>
            <th>Major</th>
            <td>{{ .Major }}</td>
        </tr>
        <tr>
            <th>Graduation Year</th>
            <td>{{ .ClassOf}}</td>
        </tr>
    </tbody>

</table>

{{ end }}

{{ block "edit" .}}
<div id="editable">
    <form action=" POST">
        <table class="table-fixed w-96 text-left">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td class="text-gray-400">{{ .User.Id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td><input type="text" name="name" value="{{ .User.Name }}" autofocus="true"></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td><input type="text" name="phone" value="{{ .User.Phone }}"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type="text" name="email" value="{{ .User.Email }}"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><input type="text" name="address" value="{{ .User.Address }}"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td class="text-gray-400">{{ .Status }}</td>
                </tr>
                <tr>
                    <th>CGPA</th>
                    <td class="text-gray-400">{{ .Cgpa }}</td>
                </tr>
                <tr>
                    <th>Major</th>
                    <td class="text-gray-400">{{ .Major }}</td>
                </tr>
                <tr>
                    <th>Graduation Year</th>
                    <td class="text-gray-400">{{ .ClassOf }}</td>
                </tr>
            </tbody>

        </table>
        <button hx-post="account/edit" hx-swap="outerHTML" hx-target="#editable"
            class="m-4 px-4 py-2 bg-slate-800 text-white rounded-md">Save</button>
    </form>
</div>
{{ end }}