{{ block "index" . }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a067255f3e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
    <style>
        i {
            transition: all 0.3s ease;
        }
    </style>
</head>

<body>
    <div class="p-4 flex bg-slate-800 justify-between">
        <i class="fas fa-chart-bar p-4 text-white"></i>
        <img src="../public/image.jpg" class="rounded-full w-10 h-10 mr-4" />
    </div>
    <hr>
    <div class="flex">
        <div class="bg-white w-64 border-r">

            <!-- Sidebar links -->
            <ul class="py-4">
                <li hx-get="/account" hx-push-url="true" hx-swap="outerHTML" hx-target="body"
                    class="cursor-pointer flex items-center py-2 px-4 text-gray-700 hover:text-gray-900 hover:bg-gray-100">
                    <i class="fas fa-user mr-4 flex items-self-end"></i>
                    Account Center
                </li>
                <li
                    class="cursor-pointer flex items-center py-2 px-4 text-gray-700 hover:text-gray-900 hover:bg-gray-100">
                    <i class="fas fa-chart-line mr-3 flex items-self-end"></i>
                    Attendance Report
                </li>
                <li
                    class="cursor-pointer flex items-center py-2 px-4 text-gray-700 hover:text-gray-900 hover:bg-gray-100">
                    <i class="fas fa-dollar-sign mr-5 flex items-self-end "></i>
                    Fees and Payments
                </li>
                <li
                    class="cursor-pointer flex items-center py-2 px-4 text-gray-700 hover:text-gray-900 hover:bg-gray-100">
                    <i class="fas fa-graduation-cap mr-2 flex items-self-end "></i>
                    Academic Area
                    </a>
                </li>
            </ul>


        </div>
        <div class="flex w-full p-10 flex:1">
            <div id="alerts" class=" rounded-lg shadow-lg p-4 mr-10">
                <h2 class="text-lg font-semibold text-gray-800 mb-4">Alerts <i class="fas fa-bell"></i></h2>
                <!-- Alert list -->
                <ul>
                    <li class="bg-blue-100 text-blue-800 p-3 rounded-lg mb-2">
                        <span class="font-bold">Information: </span>
                        <span class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                    </li>
                    <li class="bg-yellow-100 text-yellow-800 p-3 rounded-lg mb-2">
                        <span class="font-bold">Warning: </span>
                        <span class="text-sm">Nulla vitae elit libero, a pharetra augue.</span>
                    </li>
                    <li class="bg-red-100 text-red-800 p-3 rounded-lg mb-2">
                        <span class="font-bold">Error: </span>
                        <span class="text-sm">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</span>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col">
                <h2 class="text-lg font-semibold text-gray-800 mb-4">
                    Sticky Notes
                    {{template "notes" .}}
                </h2>

            </div>
        </div>

</body>

</html>
{{ end }}

{{block "notes" .}}
<div id="sticky-notes">
    <textarea class="bg-yellow-100 rounded-lg p-4" name="sticky_notes" id="sticky_notes"></textarea>
</div>
<div id="newButton" class="flex justify-center">
    <i class="fas fa-plus text-lg rounded-full bg-gray-200 m-4 px-4 py-2 text-slate-500" hx-get="/new"
        hx-swap="outerHTML" hx-target="#newButton"></i>
</div>
{{end}}